<form (ngSubmit)="onSubmit()" [ngClass]="registerFailed ? 'login-failed' : ''">
  <h1 style="margin-top: 10px; font-size: 2rem">Rejestracja</h1>
  <div class="pass-wrap form-control" style="max-width: 400px; margin: auto">
    <label class="label" for="login">
      Email&nbsp;
    </label>
    <input type="text" name="login" id="login" required placeholder="Wpisz email" [(ngModel)]="email">
  </div>
  <div class="pass-wrap form-control" style="max-width: 400px; margin: auto">
    <label class="label" for="password">
      Nick&nbsp;
    </label>
    <input type="text" name="name" id="name" required placeholder="Wpisz hasło" class="" [(ngModel)]="name">
  </div>
  <div class="pass-wrap form-control" style="max-width: 400px; margin: auto">
    <label class="label" for="password">
      Hasło&nbsp;
    </label>
    <input type="password" name="password" id="password" required placeholder="Wpisz hasło" class="" [(ngModel)]="password">
  </div>
  <div class="info-wrapper">
    <span>{{registerFailMessage}}</span>
  </div>
  <br>
  <input type="submit" value="Zarejestruj" class="submit btn btn-primary" name="login-submit">
</form>
