<form (ngSubmit)="onSubmit()" [ngClass]="registerFailed ? 'login-failed' : ''">
  <h3>Rejestracja</h3>
  <div class="user-wrap">
    <label class="label">
      Email
    </label>
    <input type="text" name="login" required placeholder="Wpisz email" [(ngModel)]="email">
  </div>
  <div class="user-wrap">
    <label class="label">
      Name
    </label>
    <input type="text" name="login" required placeholder="Wpisz haslo" [(ngModel)]="name">
  </div>
  <div class="pass-wrap">
    <label class="label">
      Password
    </label>
    <input type="password" name="password" required placeholder="Wpisz hasło" [(ngModel)]="password">
    <div class="info-wrapper">
      <span *ngIf="registerFailed" class="incorrect">Niepoprawne dane logowania</span>
    </div>
  </div>
  <input type="submit" value="Zarejestruj" class="submit" name="login-submit">
</form>
