<div *ngIf="authService.isAuthenticated()">
  <p style="font-size: 2rem; margin-top: 10px">Nazwa bazy danych: <b>{{dbName?.current_database}}</b></p>
  <br>
  <form [formGroup]="tableForm" (ngSubmit)="submit()">
    <label for="tables" style="font-size: 2rem; margin-right: 15px">Tabela:</label>
    <select formControlName="table" id="tables" class="form-select form-select-lg mb-3" style="width: 150px; margin-right: 15px; display: inline-block">
      <option *ngFor="let table of dbTables?.tables; let i = index" [value]="table?.table_name">
        {{dbTables ? dbTables.tables[i].table_name : 'placeholder'}}
      </option>
    </select>
    <button class="submit btn btn-primary">Pokaż zawartość tabeli</button>
  </form>

  <label for="sql-query" style="font-size: 2rem; margin-right: 15px">Zaytanie SQL: </label>
  <input id="sql-query" type="text" [formControl]="sqlQuery" style="margin-right: 15px; max-width: 400px; display: inline-block" class="form-control">
  <button type="button" (click)="executeQuery(sqlQuery.value)" class="submit btn btn-primary">Wykonaj</button>
</div>
<app-login *ngIf="!authService.isAuthenticated()"></app-login>
