<div *ngIf="authService.isAuthenticated()">
  <div *ngIf="this.mode === 'edit'">
    <table class="table table-primary table-bordered border-primary">
      <tr>
        <th *ngFor="let column of tableInfo?.columns;">{{column.column_name}}</th>
      </tr>
      <tr>
        <td *ngFor="let column of tableInfo?.columns;"><input id="input_{{column.column_name}}" value="{{record[column.column_name]}}"></td>
      </tr>
    </table>
  </div>
  <div *ngIf="this.mode === 'insert'">
    <table class="table table-primary table-bordered border-primary">
      <tr>
        <th *ngFor="let column of tableInfo?.columns;">{{column.column_name}}</th>
      </tr>
      <tr>
        <td *ngFor="let column of tableInfo?.columns;"><input id="input_{{column.column_name}}"></td>
      </tr>
    </table>
  </div>
  <button class="buttons btn btn-primary" style="margin: 5px" (click)="applyChanges()">
    Zastosuj
  </button>
  <br>
  <button class="buttons btn btn-primary" style="margin: 5px" aria-label="Example icon-button with menu icon" (click)="onGoBackToViewPageClick()">
    Powrót
  </button>
  <div>
    <p style="font-size: 1.5rem" id="result_message"></p>
  </div>
</div>
<app-login *ngIf="!authService.isAuthenticated()"></app-login>
