<form (ngSubmit)="onSubmit()" [ngClass]="loginFailed ? 'login-failed' : ''">
  <h1 style="margin-top: 10px; font-size: 2rem">Logowanie</h1>
  <div class="user-wrap form-control"style="max-width: 400px; margin: auto">
    <label class="label" for="login">
      Email&nbsp;
    </label>
    <input type="text" name="login" id="login" required placeholder="Wpisz email" [(ngModel)]="email">
  </div>
  <div class="pass-wrap form-control" style="max-width: 400px; margin: auto">
    <label class="label" for="password">
      Hasło&nbsp;
    </label>
    <input type="password" name="password" id="password" required placeholder="Wpisz hasło" [(ngModel)]="password">
  </div>
  <div class="info-wrapper" style="margin: 10px">
    <span *ngIf="loginFailed" class="incorrect" style="color: red">Niepoprawne dane logowania</span>
    <span *ngIf="notAcceptedUser" class="incorrect" style="color: orange; margin-top: 10px; margin-bottom: 10px;">Użytkownik nie został zaakceptowany przez administratora.</span>
  </div>
  <input type="submit" value="Zaloguj" class="submit btn btn-primary" name="login-submit">
</form>

<button (click)="githubLogin()" class="btn btn-dark" style="margin-top: 10px">Zaloguj się GITHUBEM</button>
