<mat-toolbar class = mat-toolbar>
<!--  <button class="buttons" aria-label="Example icon-button with menu icon" (click)="onMenuClick()">-->
<!--    MAIN PAGE-->
<!--  </button>-->
  <span class="example-spacer"></span>
  <span><b>PKI PROJEKT</b></span>
  <span class="example-spacer"></span>
  <span *ngIf="authService.getUsername().length > 0">USERNAME: {{authService.getUsername()}}</span>
  <div class="rightsideButtons">
    <button class="buttonsRight btn btn-primary" *ngIf="!authService.isAuthenticated()">
      <span (click)="onRegisterClick()">Register</span>
    </button>
    <button class="buttonsRight btn btn-primary" *ngIf="!authService.isAuthenticated()">
      <span (click)="onLoginClick()">Login</span>
    </button>
    <button class="buttonsRight btn btn-primary" *ngIf="authService.isAuthenticated()">
      <span (click)="onLogoutClick()">Logout</span>
    </button>
  </div>
</mat-toolbar>
