<div *ngIf="authService.isAuthenticated()">
  <div>
    <p id="error_message"></p>
  </div>
  <div *ngIf="this.showTableContents">
    <table class="table table-primary table-bordered border-primary">
      <tr>
        <td *ngFor="let column of tableInfo?.columns;"><input type="text" class="form-control" style="margin-top: 10px" placeholder="{{column.column_name}}" id="{{column.column_name}}_filter" (keyup)="filterValues()"></td>
        <td></td>
      </tr>
      <tr>
        <th *ngFor="let column of tableInfo?.columns;">{{column.column_name}} <button class="buttons btn btn-primary" (click)="sort(column.column_name)">sort</button></th>
      </tr>
      <tr *ngFor="let row of filteredTableContents?.rows;">
        <td *ngFor="let column of tableInfo?.columns;">{{row[column.column_name]}}</td>
        <td>
          <button class="buttons btn btn-primary" style="margin: 5px;" (click)="editRecord(row)">
            Edit
          </button>
          <button class="buttons btn btn-primary" style="margin: 5px;" (click)="removeRecord(row)">
            Remove
          </button>
        </td>
      </tr>
    </table>
    <button class="buttons btn btn-primary" (click)="insertRecord()">
      Add record
    </button>
    <br>
  </div>
  <div *ngIf="this.showQueryResult && this.customQuerySuccessful">
    <p>Action: <b>{{queryResult?.result?.command}}</b>, row count <b>{{queryResult?.result?.rowCount}}</b></p>
    <table class="table table-primary table-bordered border-primary">
      <tr>
        <th *ngFor="let field of queryResult?.result?.fields;">{{field.name}}</th>
      </tr>
      <tr *ngFor="let row of queryResult?.result?.rows;">
        <td *ngFor="let field of queryResult?.result?.fields;">{{row[field.name]}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="this.customQuerySuccessful === false">
    <p>Error while executing query "{{passedData}}"</p>
    <p><b>Error message: {{queryError}}</b></p>
  </div>
  <button class="buttons btn btn-primary" aria-label="Example icon-button with menu icon" (click)="onGoHomeClick()">
    GO TO MAIN PAGE
  </button>
</div>
<app-login *ngIf="!authService.isAuthenticated()"></app-login>
