<div *ngIf="authService.isAuthenticated()">
  <div *ngIf="this.showTableContents">
    <table>
      <tr>
        <td *ngFor="let column of tableInfo?.columns;"><input type="text" placeholder="{{column.column_name}}" id="{{column.column_name}}_filter" (keyup)="filterValues()"></td>
      </tr>
      <tr>
        <th *ngFor="let column of tableInfo?.columns;">{{column.column_name}} <button class="buttons" (click)="sort(column.column_name)">sort</button></th>
      </tr>
      <tr *ngFor="let row of filteredTableContents?.rows;">
        <td *ngFor="let column of tableInfo?.columns;">{{row[column.column_name]}}</td>
        <button class="buttons" (click)="editRecord()">
          Edit
        </button>
        <button class="buttons" (click)="deleteRecord()">
          Remove
        </button>
      </tr>
    </table>
  </div>
  <div *ngIf="this.showQueryResult && this.customQuerySuccessful">
    <p>Action: <b>{{queryResult?.result?.command}}</b>, row count <b>{{queryResult?.result?.rowCount}}</b></p>
    <table>
      <tr>
        <th *ngFor="let field of queryResult?.result?.fields;">{{field.name}}</th>
      </tr>
      <tr *ngFor="let row of queryResult?.result?.rows;">
        <td *ngFor="let field of queryResult?.result?.fields;">{{row[field.name]}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="this.customQuerySuccessful === false">
    <p>Error while executing query "{{passedData}}"</p>
    <p><b>Error message: {{queryError}}</b></p>
  </div>
  <button class="buttons" (click)="addRecord()">
    Add record
  </button>
  <br>
  <button class="buttons" aria-label="Example icon-button with menu icon" (click)="onGoHomeClick()">
    MAIN PAGE
  </button>
</div>
<app-login *ngIf="!authService.isAuthenticated()"></app-login>
